PORT=

DATABASE_URL=
DIRECT_URL=

POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=

PGADMIN_EMAIL=
PGADMIN_PASSWORD=

JWT_ACCESS_SECRET=
JWT_REFRESH_SECRET=

VERIFY_TOKEN=

REDIS_URL=
REDIS_PASSWORD=
REDIS_PORT=

META_WHATSAPP_TOKEN=
META_PHONE_NUMBER_ID=
META_API_VERSION=v21.0

SMTP_HOST=
SMTP_PORT=
SMTP_USER=
SMTP_PASS=

FRONTEND_URL=
BACKEND_URL=

MERCADOPAGO_ACCESS_TOKEN=
MERCADOPAGO_WEBHOOK_SECRET=
MERCADOPAGO_SUCCESS_URL=
MERCADOPAGO_FAILURE_URL=
MERCADOPAGO_PENDING_URL=